.bt2{
    margin-left: 5px;
    width: 90px;

    
}
.texturanivel{
    --background:url('/assets/img/fondo-1.png')
}

.iteme{
    margin-left: 20px;
}
.memoria{
    max-width: 75%;
    margin-left: 49px;
    border: 0;
}