<ion-content class="texturanivel">
  <ion-button expand="block" [routerLink]="['/plantilla']" class="bt2" color="tertiary">
    <ion-icon name="arrow-back"></ion-icon>
  
  </ion-button>

<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">

      <img src="assets/img/robotregistro.png" class="memoria"/>
            
    </ion-col>
    
  </ion-row>
</ion-grid>


      <ion-card-title class="logo" style="text-align: center;">
    Regístrate
    
    </ion-card-title>
   

      <ion-item>
          <ion-label position="floating" >*Ingresa tu correo</ion-label>
          <ion-input [(ngModel)]="newUser.correo" placeholder="Ejm: juan2012@gmail.com"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="newUser.nombre" placeholder="Ejm: Juan"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label position="floating" >Telefono</ion-label>
      <ion-input [(ngModel)]="newUser.telefono" placeholder="Ejm: 0983527584 / 2460589"></ion-input>
    </ion-item>
    
 <!-- <ion-item>
      <ion-input name="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'" ></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>  -->
    
      <ion-item>
          <ion-label position="floating" > *Contraseña </ion-label>
          <ion-input name="password" placeholder="Minimo 6 caracteres" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="newUser.password" ></ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon"(click)="togglePassword()"> </ion-icon>
          
      </ion-item>
    

      <ion-item>
        <ion-label position="floating" > *Repite Contraseña </ion-label>
        <ion-input name="password" placeholder="Minimo 6 caracteres"  [type]="showPassword ? 'text' : 'password'" [(ngModel)]="repassword"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon"(click)="togglePassword()"> </ion-icon>

    </ion-item>



    <ion-grid >
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">

          <ion-button (click)="registrarse()" expand="block"  shape="round" >
            Registrarse
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>


    
      <ion-item>
          <ion-label>¿Ya tienes un usuario?</ion-label>
          <ion-buttons slot="end">
              <ion-button [routerLink]="['/entrar']" >
              Ingresar
              </ion-button>
          </ion-buttons>
      </ion-item>
        
</ion-content> 